<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="Trace" xsi:type="File"
						fileName="${basedir}/Logs/${shortdate}/Trace.txt" maxArchiveFiles="30"
						layout="${longdate} | ${level:uppercase=false} |${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
		<target name="Trace_Error" xsi:type="File"
	  fileName="${basedir}/Logs/${shortdate}/Trace_Error.txt" maxArchiveFiles="30"
						layout="${longdate} | ${level:uppercase=false} |${callsite} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
	</targets>
	<rules>
		<logger name="*" level="Info" writeTo="Trace" />
		<logger name="*" level="Error" writeTo="Trace_Error" />
	</rules>
</nlog>